<% include head %>

<h1>Kettingstrips</h1>

<p>Met deze applicatie kan je kettingstrips tekenen met anderen.</p>
<p>De applicatie checkt regelmatig of er gebruikers zijn die willen tekenen. Zodra er drie of meer gebruikers beschikbaar zijn worden deze in een groep gestopt en krijgt
  de eerste persoon een uitnodiging per e-mail om te gaan tekenen. Zodra deze zijn plaatje heeft ingeleverd wordt de tweede persoon uitgenodigd, etc.</p>
<p>Zodra een strip compleet is krijgt iedere deelnemer een e-mail met daarin een link naar de complete strip.</p>

<% include foot %>
